@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /** ---------- COLORES  -----------*/
    --color-principal: #F5D21D;
    --color-secundario: #F59E1D;
    --bg-color: #FFF9EE;
    --bg-dark: #282725;

    /** ---------- TIPOGRAFIA  -----------*/
    --font-main: "Montserrat", sans-serif;
}

/* ESTILOS----JUEGO EMERSON -------- */

.game-container {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(228, 228, 226);
    margin: 1.6rem;
    min-height: 24rem;
    font-family: Montserrat;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2)
}

@media screen and (min-width:1150px) {
    .game-container {
        margin: 1rem 25rem;
    }
}


.button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--color-secundario);
    color: white;
    font-weight: 700;
}

.button:hover {
    background-color: var(--color-principal);
}

#start-screen {
    padding: 1rem 2rem;
    margin: 20px 0;
}

#instructions-screen {
    text-align: center;
    margin: 20px 0;
    padding: 1rem 2rem;
}

#instructions-screen h2 {
    margin-bottom: 1rem;
}

#instructions-screen ul {
    margin-top: 1.6rem;
    flex-direction: column;
    text-align: left;
    gap: 0.9rem;
}

#instructions-screen ul li {
    list-style: disc;
}

#play-button {
    margin-top: 1rem;
}

#question-image {
    margin-bottom: 20px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    border: none;
}

#question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option-button {
    margin: 1rem 2rem;
    background-color: var(--bg-color);
    color: var(--bg-dark);

    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

#timer {
    font-size: 1.2em;
    margin-top: 10px;
}

.correct {
    background-color: #4CAF50;
    color: white;
}

.wrong {
    background-color: #f44336;
    color: white;
}


.aprobado {
    background-color: #4CAF50;
    display: inline-block;
    padding: 1rem .5rem;
    color: #fff;
    border-radius: 9px;
}

.desaprobado {
    background-color: #f44336;
    display: inline-block;
    padding: 1rem .5rem;
    color: #fff;
    border-radius: 9px;
}

.option-button:disabled {
    cursor: not-allowed;
}