body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}



main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
}

#buttons-container {
    margin-bottom: 20px;
}

#buttons-container button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

#buttons-container button:hover {
    background-color: #555;
}

#game-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: 400px;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}