@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /** ---------- COLORES  -----------*/
    --color-principal: #F5D21D;
    --color-secundario: #F59E1D;
    --bg-color: #FFF9EE;
    --bg-dark: #282725;

    /** ---------- TIPOGRAFIA  -----------*/
    --font-main: "Montserrat", sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main)
}

main {
    background-color: var(--bg-color);
    margin-top: calc(3.5rem + 5rem);
}

@media screen and (max-width:1150px) {
    main {
        background-color: var(--bg-color);
        margin-top: calc(3.5rem + 2rem);
    }
}


.footer {
    background-color: var(--bg-dark);
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

footer ul li {
    list-style: none;
    margin: 1.75rem auto;
}

.footer-link {
    color: var(--bg-color);
    text-decoration: none;
}

.footer-link:hover {
    color: var(--color-secundario);
}

.signature {
    color: var(--bg-color);
    font-style: italic;

}